/*Small reset*/
body, ul, ol, h1,h2,h3,h4,h5,h6,form,li,p{
	margin:0;
	padding:0;
}

/*----------------------------------------
2.) Styles for Admin Area
----------------------------------------*/
html{
	background: none repeat scroll 0 0 transparent;
	}

body{
	font-size:12px;
	font-family: Arial, Tahoma,Verdana, sans-serif;
	color:#484848;
	position:relative;
	}
	
#top{
	position:relative;
	min-width:760px;
	max-width:1440px;
	margin:0 auto;
	}
	
	/*----------------------------------------
	2.1) Head
	----------------------------------------*/

	#head{
background: url("../images/bg_head.png") no-repeat scroll 0 0 transparent;
color: #FFFFFF;
height: 100px;
position: relative;
		}
		
	#head a{color:#eee; text-decoration:none;}
	#head a:hover{color:#fff;}

	.logo{
		width:600px;
		height:90px;
		position:absolute;
		z-index:1;
		left:0;
		}
	
	.logo a{
		width:600px;
		height:90px;
		display:block;
		position:absolute;	
		text-indent:-99999px;
		background:transparent url(../images/logo.png) no-repeat;
		top:10px;
		left:30px;
		outline:none;
		z-index:1;
		}

	.head_memberinfo{
		position:absolute;
		right:40px;
		top:10px;
		z-index:2;
		font-size:11px;
		line-height:13px;
		}
		
	.memberinfo_span{
		display:block;
		float:left;
		padding-right:5px;
		margin-right:5px;
		border-right:1px solid #eee;
		}
		
	.memberinfo_span2{
		display:block;
		clear:both;
		padding-top:5px;
		}
		
	#head .memberinfo_span2 a{
		color:#999;	
		}
	.head_memberinfo_logo{
		position:absolute;	
		left:-40px;
		} 
		
	.head_memberinfo_logo img{
		position:absolute;
		top:0;
		z-index:1;
		} 
		
	.head_memberinfo_logo span{
		font-size:10px;
		left:23px;
		position:absolute;
		top:2px;
		z-index:2;
		} 
		
	/*----------------------------------------
	2.2) Main
	----------------------------------------*/
#bg_wrapper{
margin: 0 auto;
min-height: 400px;
padding-top: 5px;
position: relative;
width: 99%;
z-index: 0;
		}
/*----------------------------------------
3.) Footer
----------------------------------------*/
#footer{
clear: both;
height: 30px;
	}


/*----------------------------------------
4.) Fonts, Images basic selectors
----------------------------------------*/
h1,h2,h3,h4,h5,h6{
	line-height:1.8em;
	font-weight:normal;
	margin:0 0 7px;
	color:#c0c0c0;
	}
a {
color: blue;
text-decoration: none;
}
#top .noborder, #top .noborder a, #top noborder ima a{
	border:none;
	padding:0;
	}
	
	
#dialog{
	display:none;
	}
	
.clearboth{
	clear:both;
	}
input, textarea, select {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 13px;
}
.form .req {
  color: #999999;
  float: right;
  font-size: 13px;
  white-space: nowrap;
}
.form label span {
  color: #999999;
  font-weight: normal;
}
textarea.size1 {
  height: 180px;
}

.div_input_left {
width:49%;
float:left;
}
.div_input_right {
width:49%;
float:right;
}
.div_input_inline {
float: left;
padding-top: 10px;
text-align: center;
width: 100%;
}
.errorMessage{
	color: red;
	font-weight: bold;
}  	
.infoMessage {
	color:green !important;
	font-weight:bold;
}
.dataTables_info {
	visibility:hidden;
}
.dataTables_filter {
	visibility:hidden;
}
input.blur {
  color: #999999;
}
.td_center {
	text-align:center;
}

.deleted, .locked, .warning, .active, .vip {
  background-image: url("images/status.gif");
  height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  cursor:pointer;
}
.deleted {
background-position: -60px 0;
}
.locked {
background-position: -45px 0;
}
.warning {
background-position: -30px 0;
}
.active {
background-position: -15px 0;
}
.vip {
background-position: 0 0;
}
.link {
color:blue;
cursor:pointer;
}
.success {
color : green;
}
a.ovalbutton{
background: transparent url('images/oval-blue-left.gif') no-repeat top left;
display: block;
float: left;
font: normal 13px Tahoma; /* Change 13px as desired */
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
height: 24px; /* Height of button background height */
padding-left: 11px; /* Width of left menu image */
text-decoration: none;
padding-right: 10px;
cursor: pointer;
}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
color: #494949; /*button text color*/
}

a.ovalbutton span{
background: transparent url('images/oval-blue-right.gif') no-repeat top right;
display: block;
padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ovalbutton:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.ovalbutton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: black;
}

.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 99%;
}
.placeholder {color: #aaa;}
input.text {
height:20px;
}
.selected_row {
background-color:orange !important
}
.hidden {
display:none
}
.button {
cursor: pointer;
font-size: 12px;
font-weight: bold;
padding: 2px;
}
.positive {	  /* Positive message DIV */
background-color: #C8FFA4;
background-image: url("images/positive.png");
background-position: 2px 2px;
background-repeat: no-repeat;
border: 1px solid #348300;
height: 20px;
margin-bottom: 2px;
padding-top: 2px;
position: relative;
width: 100%;
z-index: 1;
display:none;
}

.negative {	  /* Negative message DIV */
background-color: #FFA4AA;
background-image: url("images/negative.png");
background-position: 2px 1px;
background-repeat: no-repeat;
border: 1px solid #800000;
height: 20px;
margin-bottom: 2px;
padding-top: 2px;
position: relative;
width: 100%;
z-index: 1;
display:none;
}
input.field {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D3CFC7;
  padding: 5px;
}
select.field {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D3CFC7;
  padding: 4px;
}
.field, .button {
  border-radius: 4px 4px 4px 4px;
}
.size2 {
width: 300px;
}
.full {
width: 99%;
}
.field:focus {
  border-color: #857B42;
  color: #000000;
}
.size1 {
  width: 150px;
}
.required {
color:red;
}
.error {
color:red;
font-size:11px;
}
fieldset.form {
-moz-border-radius: 6px 6px 6px 6px;
}
fieldset.form legend {
font-weight: bold; font-size: 13px;
}
.td_label {
width:150px;text-align:right;font-weight:bold
}
.hint {
color:gray;
font-size:11px;
}
.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.wraptocenter * {
    vertical-align: middle;
}
.ui-button .ui-button-text {
  line-height: 16px !important;
}
.admin_icon {
color: navy;
cursor: pointer;
display: block;
float: left;
height: 50px;
margin-left: 20px;
text-align: center;
width: 100px;
}
.admin_icon span {
display: block;
font-weight: bold;
width: 100%;
}
.deactive {
color: gray;
opacity: 0.5;
filter:alpha(opacity=50);
}
.icon_setup {
background-image: url("images/setup_25.png");
background-repeat: no-repeat;
display: block;
height: 25px;
width: 25px;
cursor: pointer;
}
.icon_checked {
background-image: url("images/setup_25.png");
background-position: 0 -33px;
background-repeat: no-repeat;
cursor: pointer;
display: block;
height: 25px;
width: 25px;
}
a {
text-decoration:none
}
img {
border: medium none;
}
.input {
height: 20px;
width: 350px;
}
