.remove {
color: red;
cursor: pointer;
font-size: 11px;
margin-left: 20px;
}
.edit {
color: blue;
cursor: pointer;
font-size: 11px;
margin-left:10px;
}
input[type="text"]{
  width:300px
}
.grab {
color: green;
cursor: pointer;
font-size: 11px;
margin-left: 10px;
}