/*Small reset*/
body, ul, ol, h1,h2,h3,h4,h5,h6,form,li,p{
	margin:0;
	padding:0;
}

/*----------------------------------------
2.) Styles for Admin Area
----------------------------------------*/
html{
	background: none repeat scroll 0 0 transparent;
	}

body{
	font-size:12px;
	font-family: Verdana, sans-serif;
	color:#484848;
	position:relative;
	}
	
#top{
	position:relative;
	min-width:760px;
	max-width:1440px;
	margin:0 auto;
	}
	
	/*----------------------------------------
	2.1) Head
	----------------------------------------*/

	#head{
background: url("../images/bg_head.png") no-repeat scroll 0 0 transparent;
color: #FFFFFF;
height: 100px;
position: relative;
		}
		
	#head a{color:#eee; text-decoration:none;}
	#head a:hover{color:#fff;}

	.logo{
		width:600px;
		height:90px;
		position:absolute;
		z-index:1;
		left:0;
		}
	
	.logo a{
		width:600px;
		height:90px;
		display:block;
		position:absolute;	
		text-indent:-99999px;
		background:transparent url(../images/logo.png) no-repeat;
		top:10px;
		left:30px;
		outline:none;
		z-index:1;
		}

	.head_memberinfo{
		position:absolute;
		right:40px;
		top:10px;
		z-index:2;
		font-size:11px;
		line-height:13px;
		}
		
	.memberinfo_span{
		display:block;
		float:left;
		padding-right:5px;
		margin-right:5px;
		border-right:1px solid #eee;
		}
		
	.memberinfo_span2{
		display:block;
		clear:both;
		padding-top:5px;
		}
		
	#head .memberinfo_span2 a{
		color:#999;	
		}
	.head_memberinfo_logo{
		position:absolute;	
		left:-40px;
		} 
		
	.head_memberinfo_logo img{
		position:absolute;
		top:0;
		z-index:1;
		} 
		
	.head_memberinfo_logo span{
		font-size:10px;
		left:23px;
		position:absolute;
		top:2px;
		z-index:2;
		} 
		
	/*----------------------------------------
	2.2) Main
	----------------------------------------*/
#bg_wrapper{
margin: 0 auto;
min-height: 400px;
position: relative;
width: 100%;
		}
/*----------------------------------------
3.) Footer
----------------------------------------*/
#footer{
clear: both;
height: 30px;
	}


/*----------------------------------------
4.) Fonts, Images basic selectors
----------------------------------------*/
h1,h2,h3,h4,h5,h6{
	line-height:1.8em;
	font-weight:normal;
	margin:0 0 7px;
	color:#c0c0c0;
	}
	
h1{font-size:22px;}
h2{font-size:20px; border-bottom:1px solid #c0c0c0; clear:both; margin-right:10px;}
h3{font-size:18px;}
h4{font-size:17px;}
h5{font-size:16px;}
h6{font-size:14px;}

p{padding:0 0 22px 0}

blockquote{
padding:5px 30px 0 15px;
background-repeat:no-repeat;
background-position:top left ;
margin:10px 0 10px 15px;
border-left:3px solid #fff;
color:#fff;
}

blockquote em{
color:#ff0000;
padding:0px 40px  0px 0px;
background-repeat:no-repeat;
background-position:top right;
display:block;
text-align:right;
font-style:italic;
}
a {
color: blue;
text-decoration: none;
}
#top .noborder, #top .noborder a, #top noborder ima a{
	border:none;
	padding:0;
	}
	
/*----------------------------------------
5.) Containers and classes created by jquery
----------------------------------------*/	
.closeable{
	position:relative;
	}
	
.click_to_close{
	right:2px;
	top:2px;
	position:absolute;
	height:16px;
	width:16px;
	background:transparent url(../images/close.png) no-repeat scroll 0 0;
	cursor:pointer;
	}

.jquery_tab_container{
	left:-30px;
	position:absolute;
	top:-35px;
	z-index:30;
	}
	
.jquery_tab{
	width:100%;
	float:left;
	}
	
.jquery_tab_container a{
	display: block;
	float:left;
	line-height:34px;
	padding:0 15px;
	background-color:#d5d5d5;
	margin-right:1px;
	text-decoration:none;
	color:#a1a1a1;
	font-size:13px;
	outline:none;
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	border-bottom:1px solid #999;
	}
	
.jquery_tab_container .active, .jquery_tab_container a:hover{
	background:transparent url(../images/bg_tab.png) repeat-x;
	padding-bottom:2px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	border-bottom:none;
	color:#4a4a4a;
	}
	
#top .flexy_datepicker{
	font-size:11px;
	margin-bottom:25px;
	}
	
#top .flexy_datepicker table{
	margin:0;
	}
	
#top .ui-datepicker {
padding:0.2em;
}

#top #sidebar .ui-datepicker{

border-left:medium none;
border-right:medium none;
padding:0.2em;
width:266px;}

#top .wysiwyg{
	background-color:#EAEAEA;
	border:1px solid #959595;
	}
	
#top div.wysiwyg ul.panel li a {
	border:1px solid #959595;
	}
	
#dialog{
	display:none;
	}
	
.clearboth{
	clear:both;
	}


.tab {
  border-bottom: 1px solid #C86F9D;
  height: 20px;
  margin: 0 7px 0 6px;
  padding-left: 10px;
}
.tab .tl {
  background-image: url("images/box/box_tab_title.png");
  background-position: left 0;
  background-repeat: no-repeat;
  height: 21px;
  width: 9px;
}
.fl {
  float: left;
}
.tab .tc {
  background-image: url("images/box/box_tab_title.png");
  background-position: left -22px;
  background-repeat: repeat-x;
  font-weight: bold;
  height: 21px;
}
.tab .tr {
  background-image: url("images/box/box_tab_title.png");
  background-position: right -44px;
  background-repeat: no-repeat;
  height: 21px;
  width: 9px;
}
.box .l {
  background-image: url("images/box/box_head.png");
  background-position: left 0;
  background-repeat: no-repeat;
  height: 44px;
}
.clb {
  clear: both;
}
.box .r {
  background-image: url("images/box/box_head.png");
  background-position: right -91px;
  background-repeat: no-repeat;
  height: 44px;
  padding: 0 9px;
}
.box .c {
  background-image: url("images/box/box_head.png");
  background-position: left -45px;
  background-repeat: repeat-x;
  height: 45px;
}
.tboxhder {
  margin: 0;
  padding-top: 8px;
}
.tboxhder .l2 {
  background-image: url("images/TextBox.png");
  background-position: left 0;
  background-repeat: no-repeat;
  height: 23px;
  margin: 0;
  padding: 0 0 0 8px;
}
.box {
  padding-top: 20px;
}
.box_leftside {
background-image: url("images/box/box_center_l.png");
background-position: 0 0;
background-repeat: repeat-y;
float: left;
height: auto;
margin-left: 0;
margin-top: -20px;
position: relative;
width: 100%;
}
.box_rightside {
background-image: url("images/box/box_center_r.png");
background-position: right top;
background-repeat: repeat-y;
float: right;
height: auto;
margin-right: 0;
margin-top: -2px;
position: relative;
width: 98%;
}
.box .foot_l {
background-image: url("images/box/box_foot_l.png");
background-position: left top;
background-repeat: repeat-y;
float: left;
height: 15px;
margin-left: 0;
width: 20px;
}
.box .foot_c {
background-image: url("images/box/box_foot_c.png");
background-position: 0 -13px;
background-repeat: repeat-x;
float: left;
height: 27px;
margin-left: 9px;
margin-top: -5px;
width: 98%;
}
.box .foot_r {
background-image: url("images/box/box_foot_r.png");
background-position: right -3px;
background-repeat: repeat-y;
float: left;
height: 16px;
margin-left: 0;
margin-right: -12px;
margin-top: -15px;
width: 7px;
}
/*Form input*/
.form {
padding: 0 10px 5px;
}
.form p {
  padding-bottom: 5px;
}
/*.form label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 4px;
}*/
.form .inline-field .field {
  display: inline;
}
.form .field {
  display: block;
}
.field {
  border-radius: 4px 4px 4px 4px;
}
.size1 {
width: 350px;
}
.field:focus {
  border-color: #857B42;
  color: #000000;
}
.size2 {
  width: 80px;
}
input.field {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D3CFC7;
  padding: 5px;
}
select.field {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D3CFC7;
  padding: 4px;
}
input, textarea, select {
  font-family: Verdana,sans-serif;
  font-size: 13px;
}
.size3 {
  width: 120px;
}
.form .req {
  color: #999999;
  float: right;
  font-size: 13px;
  white-space: nowrap;
}
.form label span {
  color: #999999;
  font-weight: normal;
}
textarea.size1 {
  height: 180px;
}

.div_input_left {
width:49%;
float:left;
}
.div_input_right {
width:49%;
float:right;
}
.div_input_inline {
float: left;
padding-top: 10px;
text-align: center;
width: 100%;
}
.errorMessage{
	color: red;
	font-weight: bold;
}  	
.infoMessage {
	color:green !important;
	font-weight:bold;
}
.dataTables_info {
	visibility:hidden;
}
.dataTables_filter {
	visibility:hidden;
}
input.blur {
  color: #999999;
}
.td_center {
	text-align:center;
}

.deleted, .locked, .warning, .active, .vip {
background-image: url("images/status.gif");
background-repeat: no-repeat;
cursor: pointer;
display: block;
height: 12px;
width: 12px;
}
.deleted {
background-position: -60px 0;
}
.locked {
background-position: -45px 0;
}
.warning {
background-position: -30px 0;
}
.active {
background-position: -15px 0;
}
.vip {
background-position: 0 0;
}
.link {
color:blue;
cursor:pointer;
}
.success {
color : green;
}
a.ovalbutton{
background: transparent url('images/oval-blue-left.gif') no-repeat top left;
display: block;
float: left;
font: normal 13px Tahoma; /* Change 13px as desired */
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
height: 24px; /* Height of button background height */
padding-left: 11px; /* Width of left menu image */
text-decoration: none;
padding-right: 10px;
cursor: pointer;
}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
color: #494949; /*button text color*/
}

a.ovalbutton span{
background: transparent url('images/oval-blue-right.gif') no-repeat top right;
display: block;
padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ovalbutton:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.ovalbutton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: black;
}

.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 99%;
}
.placeholder {color: #aaa;}
input.text {
height:20px;
}
.selected_row {
background-color:orange !important
}
.hidden {
display:none
}
.button {
cursor: pointer;
font-size: 12px;
font-weight: bold;
padding: 2px;
}
.positive {	  /* Positive message DIV */
background-color: #C8FFA4;
background-image: url("images/positive.png");
background-position: 2px 2px;
background-repeat: no-repeat;
border: 1px solid #348300;
height: 20px;
margin-bottom: 2px;
padding-top: 2px;
position: relative;
width: 100%;
z-index: 1;
display:none;
}

.negative {	  /* Negative message DIV */
background-color: #FFA4AA;
background-image: url("images/negative.png");
background-position: 2px 1px;
background-repeat: no-repeat;
border: 1px solid #800000;
height: 20px;
margin-bottom: 2px;
padding-top: 2px;
position: relative;
width: 100%;
z-index: 1;
display:none;
}
fieldset.form {
border: 1px dashed #BBBBBB;
border-radius: 3px 3px 3px 3px;
margin: 10px;
}
fieldset.form legend {
color: gray;
font-weight: bold;
}
.td_label {
width:150px;text-align:right;font-weight:bold
}
.hint {
color:gray;
font-size:11px;
}
.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.wraptocenter * {
    vertical-align: middle;
}
.ui-button .ui-button-text {
  line-height: 16px !important;
}
.admin_icon {
color: navy;
cursor: pointer;
display: block;
float: left;
height: 50px;
margin-left: 20px;
text-align: center;
width: 100px;
}
.admin_icon span {
display: block;
font-weight: bold;
width: 100%;
}
.deactive {
color: gray;
opacity: 0.5;
filter:alpha(opacity=50);
}
.icon_setup {
background-image: url("images/setup_25.png");
background-repeat: no-repeat;
display: block;
height: 25px;
width: 25px;
cursor: pointer;
}
.icon_checked {
background-image: url("images/setup_25.png");
background-position: 0 -33px;
background-repeat: no-repeat;
cursor: pointer;
display: block;
height: 25px;
width: 25px;
}