@charset "UTF-8";
/* CSS Document */

body {  /* Body and background image DIV */
	background-image: url(../../images/bg_slice.jpg);
	background-repeat: repeat-x;
	margin:0;
	font-style: normal;
	line-height: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	font-family:Verdana !important;
	font-size:10pt !important;
}
#logo {  /* Logo DIV */
	position:relative;
	width:226px;
	height:69px;
	z-index:1;
	background-image: url(../../images/logo_bg.jpg);
	float:left;
}
#arrows {  /* Arrows DIV */
	position:relative;
	width:132px;
	height:69px;
	z-index:1;
	background-image: url(../../images/arrows.jpg);
	float:left;
}
#hello {  /* Hello (user) DIV */
	position:relative;
	width:206px;
	height:32px;
	z-index:1;
	float:left;
	padding-top:10px;
}
.bodytext {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	color: #505050;	line-height: 21px;}  /* bodytext, most used style */
.bodytext_table {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	color: #505050;	line-height: 21px; padding: 2px 10px}  /* table's bodytext */
.title_table {	font-family: Arial, Helvetica, sans-serif;	font-size: 14px;	color: #FFF;	line-height: 21px; padding: 2px 10px; background-image: url(../../images/table_bg.jpg);}  /* table's titles */
.bodytext_paragraph {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	color: #505050;	line-height: 21px;	padding: 10px 10px 10px 25px;}  /* paragraph bodytext */
.bodytext_fieldstitle {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	color: #FFF;	line-height: 21px;	padding: 5px 10px;}  /* bodytext in fields */
a:link  {	text-decoration: none;	font-weight: 700;	color: #2b7c98;}  /* normal link */
a:visited, a:active {	text-decoration: none;	font-weight: 700;	color: #2b7c98;}  /* normal link */
.class2 a:link {	color: #FFF;	font-family: Arial,Helvetica,sans-serif;	font-size: 12px;	font-weight: 700;	text-decoration: none; }  /* second link, different colors  */
.class2 a:visited, a:active {color:#FFF;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:700;text-decoration:none;}  /* second link, different colors  */
.class2 a:hover {color:#5DD5FF;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:700;text-decoration:underline;}  /* second hover link, different colors  */
.navigation a:link {	font-size: 13px;	color: #FFF;	font-weight: 700;	padding-left: 10px;	line-height: 26px;}  /* navigation link, different colors  */
.navigation a:visited {	font-size: 13px;	color: #FFF;	font-weight: 700;	padding-left: 10px;	line-height: 26px;}  /* navigation link, different colors  */
.navigation a:hover {	font-size: 13px;	color: #34cbff;	font-weight: 700;	padding-left: 10px;	line-height: 26px;}  /* navigation hover link, different colors  */
.navigation a:active {	font-size: 13px;	color: #FFF;	font-weight: 700;	padding-left: 10px;	line-height: 26px;}  /* navigation link, different colors  */
.toplinks {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	line-height: 20px;}  /* top links, different colors  */
.fields {	color: #777;	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	padding: 10px;	background-color: #FFF;	border: 1px solid #dedbd1;	margin-bottom: 5px;}  /* fields style  */
.search {	color: #777;	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	padding: 2px;	background-color: #FFF;	border: 1px solid #dedbd1; }  /* search style  */
.button {	color: #FFF;	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	padding: 5px;	background-color: #999;	border: 1px solid #888; }  /* button style  */
h1,h2,h3,h4,h5,h6 {	font-family: Verdana, Helvetica, sans-serif;}
h1 {	font-size: 26px;	color: #2b7c98;	padding: 0 0 0 25px;	letter-spacing: -1px;}
h2 {	font-size: 21px;	color: #2b7c98;	padding: 10px 10px 10px 25px;	letter-spacing: -0.5px;}
h3 {	font-size: 16px;	color: #2b7c98;	padding: 10px 10px 10px 25px;	letter-spacing: -0.5px;}
.calendartitle {color: #FFF}  /* calendar's weekdays   */
.success {color: #003300}  /* succes style  */
.toptip {color: #c18800}  /* toptip style  */
.error {color: #990000}  /* error style  */
.instructions {	font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	font-style: italic;	color: #999;	margin-top: 5px;}  /* instructions style  */
.copyright {color: #CCC}  /* copyright style  */
.tabletitles {	font-size: 13px;	color: #FFF;}  /* table's title style on table.html */
  /* Text styling ends */
  /* Header big buttons starts */

#top_icon {  /* Visit site DIV */
	position:relative;
	width:100px;
	height:54px;
	z-index:1;
	background-color: #FFF;
	float:left;
	padding-top:15px;
}
a {
	text-decoration:none;
}
a:hover{  /* Visit site DIV */
	color:orange !important;
}
#leftcolumn {	  /* Leftcolumn */
	background-image:url("../../images/bg_leftcolumn.jpg");
	float:left;
	height:1000px;
	position:relative;
	width:225px;
	z-index:1;
}
#navigation {	  /* Navigation */
	position:absolute;
	width:167px;
	height:53px;
	z-index:1;
	top: -5px;
}
#navigationtitle {	  /* main navigation title and links */
	position:absolute;
	width:154px;
	height:274px;
	z-index:1;
	left: 10px;
	top: 14px;
}
#latest {	  /* Latest articles */
	position:absolute;
	width:187px;
	height:53px;
	z-index:1;
	top: 332px;
}
#latestitle {	  /* latest articles title and content */
	position:absolute;
	width:181px;
	height:28px;
	z-index:1;
	left: 22px;
	top: 14px;
}
#submenu {  /* Horisontal submenu */
	position:absolute;
	width:527px;
	height:26px;
	z-index:5;
	left: 248px;
	top: 73px;
}
#content {	  /* Content */
	position:relative;
	min-height:500px;
	z-index:1;
	float:left;
}
#wrapcontent {
	width:100%;
}
#content {
	background-color:transparent;
}
.center {
margin-left:auto;
margin-right:auto;
}
.closed , .active , .inactive , .locked {
	background-image:url("../../images/status.gif");
	width:12px;
	height:12px
}
.active {
	background-position:57px 0;
	cursor:pointer;
}
.inactive {
	background-position:12px 0;
	cursor:pointer;
}
.closed {
    background-position: 0 0;
}

.locked {
	cursor:pointer;
    background-position: 99px 0;
}
#layout_wrapcontent {
	width:600px;
	position: relative;
}
#layout_top {
	width:100%;
	position:relative;
	float:left;
	-moz-border-radius:5px;
	border:1px solid #4EC2C2;
	height:30px;
	padding-top:10px;
}
#layout_leftcol {
	position:relative;
	float:left;
	min-width:200px;
	max-width:200px;
}
#layout_rightcol {
	position:relative;
	float:right;
	min-width:200px;
	max-width:200px;
}
#layout_bottom {
	width:100%;
	position:relative;
	float:left;
	-moz-border-radius:5px;
	border:1px solid #4EC2C2;
	height:30px;
	padding-top:10px;
	margin-top:1px;
}
.layout_widget {
	border:1px solid;
	float:left;
	height:50px;
	margin-top:1px;
	padding-bottom:1px;
	width:100%;
	overflow:hidden;
	background-color:#F5DEB3;
	cursor:move;
	-moz-border-radius:5px;
	border:1px solid #4EC2C2;
}
.image {
	padding:5px;
}
.image_box {
	-moz-border-radius:5px;
	border:1px solid #4EC2C2;
	cursor:pointer;
	float:left;
	height:140px;
	margin:1px;
	overflow:hidden;
	text-align:center;
	width:190px;
}
.title_box {
	position:relative;
	width:100%;
	height:30px;
	float:left;
	font-weight:700;
	font-size:10pt;
}
.link {
	text-decoration : none;
	color:blue !important;
	cursor:pointer;
	font-weight:700;
	padding:5px;
}
.link:HOVER {
	color: #018AC0;
}
fieldset {
	-moz-border-radius:5px;
	border:1px solid #4EC2C2;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
}
.normalRow {
	background: #F0F5F7;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px;
	height:30px;
}
.alternateRow {
	background: #D3DADD;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px;
	height:30px;
}
td {
	padding-left:3px;
}
#mask {
  position:fixed;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
.boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

 .boxes #dialog {
  position:fixed;
  width:375px; 
  height:auto;
  padding:4px;
  background-color:#FFF;
  -moz-box-shadow:2px 3px 5px #C5C5C5;
} 

#boxes #dialog1 {
  width:375px; 
  height:203px;
}

#dialog1 .d-header {
  background:url(../../images/login-header.png) no-repeat 0 0 transparent; 
  width:375px; 
  height:150px;
}

#dialog1 .d-header input {
  position:relative;
  top:60px;
  left:100px;
  border:3px solid #CCC;
  height:22px;
  width:200px;
  font-size:15px;
  padding:5px;
  margin-top:4px;
}

#dialog1 .d-blank {
  float:left;
  background:url(../../images/login-blank.png) no-repeat 0 0 transparent; 
  width:267px; 
  height:53px;
}

#dialog1 .d-login {
  float:left;
  width:108px; 
  height:53px;
}

#boxes #dialog2 {
  background:url(../../images/notice.jpg) no-repeat 0 0 transparent; 
  width:326px; 
  height:229px;
  padding:50px 0 20px 25px;
  position:fixed;
}
.positive {	  /* Positive message DIV */
	background-color:#C8FFA4;
	background-image:url("../../images/icons/positive.png");
	background-position:2px 2px;
	background-repeat:no-repeat;
	border:1px solid #348300;
	height:20px;
	position:relative;
	width:100%;
	z-index:1;
}

.negative {	  /* Negative message DIV */
	background-color: #ffa4aa;
	border: 1px solid #800000;
	background-image:url("../../images/icons/negative.png");
	background-position:2px 1px;
	background-repeat:no-repeat;
	height:20px;
	position:relative;
	width:100%;
	z-index:1;

}
.tipMsg {
	color:blue;
	font-weight:bold;
	cursor:pointer;
}