a.menu_top:link {
color: gray;
}
a.menu_top:visited {
color: gray;
}
a.menu_top:hover {
color: #000000;
font-weight: bold;
text-decoration: none;}
a.menu_top:active {
color: #5b5db6;
}


a.menu_2:link {
color: #ffffff;
}
a.menu_2:visited {
color: #ffffff;
}
a.menu_2:hover {
color: #cdcdcd;
text-decoration: underline overline;
}
a.menu_2:active {
color: #cdcdcd;
}
.subhead1 {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: 667D8C;
	vertical-align: middle;
	padding-left: 12px;
	list-style-position: inside;
	list-style-image: url(images/icon.gif);
	list-style-type: square;

}
.txt1 {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: 4a4a4a;
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
	padding-right: 13px;
	text-align: justify;
	list-style-image: url(images/bullets.gif);
	list-style-type: lower-alpha;
	list-style-position: inside;
	vertical-align: middle;
	letter-spacing: normal;
	word-spacing: normal;




}
.readmore {
	text-align: right;
	padding-top: 10px;
	padding-right: 13px;
	padding-bottom: 9px;

}
.topmenu{
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: ff9700;
	text-align: right;
	
}
.topmenu a:link {
	text-decoration: none;
	color: #000000;
	}
	a:hover 
	{
	font-weight: normal;
	color: #3f81d6;
	text-decoration: none;
	} 
	a:visited
	{
	text-decoration: none;
	color:  #000000;
	}
	
.amt {

	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: ff9700;
	text-align: right;
}
.input {
	padding-right: 4px;
	padding-left: 13px;
}
.domaintxt2 {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: 667D8C;
	vertical-align: middle;
	padding-left: 5px;
	text-align: right;
	padding-right: 5px;
	padding-top: 2px;
}
.domtxt {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: 565656;
	vertical-align: middle;
	padding-left: 13px;
	font-weight: bold;
}
.name {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-bottom: 10px;
	padding-right: 13px;
	color: 0767BB;

}
.weltxt {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: 667d8c;
	padding-top: 13px;
	padding-bottom: 5px;
}
.weltxt2 {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: 60605F;
	padding-top: 10px;
	padding-bottom: 10px;
	list-style-position: inside;
	list-style-image: url(images/bullet.jpg);
	list-style-type: square;

}
.welsubhead {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: 667D8C;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	list-style-position: inside;
	list-style-image: url(images/icon2.gif);
	list-style-type: square;

}
.welsubtxt {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	color: 60605F;
	text-align: left;
	padding-left: 7px;

}
.plantitle {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: 667D8C;
	padding-left: 13px;
	text-align: left;
	vertical-align: middle;
	padding-top: 7px;
	list-style-position: outside;
	list-style-image: url(images/plan_bullet.jpg);
	list-style-type: square;


}
.plantxt {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: 505050;
	text-align: justify;
	list-style-image: url(images/bullets.gif);
	list-style-type: square;
	padding-top: 8px;
	padding-bottom: 4px;
	letter-spacing: normal;
	word-spacing: normal;
	display: compact;
	list-style-position: inside;
	vertical-align: middle;
}
.footertxt {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: center;

}
.copyright {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: ffffff;
	text-align: center;
	padding-bottom: 7px;

}
.complanhead {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: 454545;
	background-color: F8F7F7;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;

}
.complanhead2 {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: 036abb;
	background-color: F8F7F7;
	text-align: center;
}
.complantxt {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: 454545;
	background-color: F6F5F5;
	text-align: center;
}
.complantxt2 {

	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: 4a4a4a;
	padding-top: 10px;
	padding-left: 2px;
	padding-bottom: 10px;
	padding-right: 13px;
	text-align: left;
	list-style-image: url(images/bullets.gif);
	list-style-type: lower-alpha;
	list-style-position: inside;
	vertical-align: middle;
	letter-spacing: normal;
	word-spacing: normal;
}
