/* ######### CSS for Tabbed Forum Home ######### */

.TFHmenu2{
padding: 0;
width: 900px;
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.TFHmenu2 ul{
margin:0;
margin-left: 0px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.TFHmenu2 li{
display: inline;
margin: 0 0 0 0;
padding: 0;
/*text-transform:uppercase;*/
}

.TFHmenu2 a{
float: left;
display: block;
font: 11px Arial;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background: #5C7099;  
border-top: 5px solid white;
}

.TFHmenu2 a:hover{
font: 11px Arial;
background-color: #869BBF;  
color: Black;
}

.TFHmenu2 a.selected{ 
font: bold 13px Arial;
background-color: #869BBF;  
color: white;
border-color: #869BBF; 
}

.TFHmenu2line{
clear: both;
padding: 0;
width: 100%;
height: 8px;
line-height: 5px;
background: #869BBF;  
}